<html>

	<head>
	  <title>PTA | Athletes</title>
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	  <link rel="stylesheet" type="text/css" href="../stylesheets/athletes.css" />
	</head>
	
	<body style="margin:0;" class="container">
        
            <div class="header">
                <div class="navbar">
                    <a href="home"><img src="/images/logo.png" class="logo"></img></a>        
                    <ul class="tabs">
                        <li class="home"><a href="home">Home</a></li>
                        <li class="athletes"><a href="athletes">Athletes</a></li>
                        <li class="clubs"><a href="clubs">Clubs</a></li>
                        <li class="events"><a href="events">Events</a></li>
                        <li class="membership"><a href="membership">Membership</a></li>
                        <li class="forum"><a href="forum">Forum</a></li>
                        <li class="profile-pic"><a href="profile"><img src="/images/goofy.jpg"></img></a></li>
                    </ul>
                </div>
            </div>

            <div class="athletes-container">
                <div class="filter-panel">
                    <table>
                        <thead>
                            <tr>
                                <th>Ranking Category</th>
                                <th>Sub Category</th>
                                <th>Club Region</th>
                                <th>Search Athlete</th>
                            </tr>
                            <tr>
                                <th>
                                    <button class="dropbtn"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                    </div>
                                </th>
                                <th>
                                    <button class="dropbtn"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                    </div>
                                </th><th>
                                    <button class="dropbtn"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                    </div>
                                </th><th>
                                    <button class="dropbtn"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 1</a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                        
                </div>
                <div class="rank-panel">
                    <div class="community-panel">
                        <h3>Athlete Rankings</h3>
                        
                        <table class="rankings">
                            <thead>
                                <tr>
                                    <th> Rank </th>
                                    <th> Name </th>
                                    <th></th>
                                    <th> Points </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each athletes}}
                                <tr>
                                    <td> {{id}} </td>
                                    <td> {{firstname}}</td>
                                    <td> {{lastname}} </td>
                                    <td> {{points}} </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </body>
</html>