<html>

<head>
    <title>Create Comment | PTA</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/create-comment.css" />
</head>

<body style="margin:0;" class="container">
  <div class="header">
    <div class="navbar">
      <a href="home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
        <a href="/notifications">Notifications
          {{#if notifications}}
          <span class="badge">{{notifications.length}}</span>
          {{/if}}
        </a>
      </li>
        <li class="analytics"><a href="analytics">Reports</a></li>
        <li class="profile-pic">
          {{#if user.profilepic}}
          <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture"
              class="profile-picture"></a>
          {{else}}
          <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg"
              alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

    <div class="create-comment-container">
        <h2>Create a Comment</h2>
        <form id="create-comment-form" action="submit-comment" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" name="body" rows="10" required></textarea>
            </div>
            <button type="submit" class="submit-button">Post Comment</button>
        </form>
    </div>


</body>

</html>