<html>

	<head>
	  <title>PTA | Help Center</title>
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-status.css" />
      <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
	</head>
	
	<body style="margin:0;" class="container">
        FAQ page
    </body>
</html>