<html>

	<head>
	  <title>PTA | Home</title>
	  <link rel="stylesheet" type="text/css" href="../stylesheets/home.css" />
	</head>
	
	<body style="margin:0;" class="container">
        <div class="header">
            <div class="navbar">
				<img src="/images/logo.png" class="logo"></img>        
                <ul class="tabs">
                    <li class="home"><a href="home">Home</a></li>
                    <li class="Forum"><a href="forum">Forum</a></li>
					<li class="profiles"><a href="home">Player Profiles</a></li>
					<li class="clubs"><a href="home">Clubs</a></li>
                    
                </ul>
            </div>
        </div>

        <div class="content-container">
            <div class="left-panel">
            </div>

            <div class="main-panel">
                <div class='flex post-container'>
                    <div class='flex post-content'>
                    </div>
                </div>
            </div>

            <div class="right-panel">
                <div class="community-panel">
                    <h2 class="community-name">Home</h2>
                    <p class="community-description">Your personal blend of fun. Find out what people are arguing about!</p>
                </div>
                
                <a href="create-post">
                    <button class="create-button">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        Create Post
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>