<html>

	<head>
	  <title>PTA | Login</title>
	  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	  <link rel="stylesheet" type="text/css" href="../stylesheets/login.css" />
	</head>

	
	<body style="margin: 0;">
		<div class="container">
			<div class="leftside">
				<div class="forumtitle">
					<h1 class= "forumname"> <span class="logo"> </span></h1>
					<h3 class = "forumdesc">Philippine Taekwondo Assocation</h3>
					
				</div>
			</div>
		
			<div class="rightside">
				<div class="login">
					<h2 class="login-title">Login</h2>
					<div class="signup-button">
						Need an account? <a class="signup-link" href="#" id="showSignup">Sign Up</a>
					</div><br>
					
					<div class ="login-input">
	
						<form id="loginform" action="/submit-login" method="post">

							<label class="username-input" for="username">Username</label><br>
							<input type="text" id="username" name="username" required><br><br>
							
							<label class="password-input" for="password">Password</label><br>
							<input type="password" id="password" name="password" required><br><br>
							
							<button class="button button-padding" type="submit">Log in</button>
							<p id="error-message" style="color:red;"></p>
						</form>
					</div>
				</div>

				<div class="signup" style="display:none;">
					<h2 class="signup-title">Signup</h2>
					<div class="login-button">
						Have an account? <a class="login-link" href="#" id="showLogin">Login</a>
					</div><br>
					
					<div class="login-input">
   						<form id="signupform" action="/submit-signup" method="post" onsubmit="return validateFields()">
							<label class="username-input" for="username">Username</label><br>
							<input type="text" id="signupusername" name="username" required><br><br>

							<div class="flex">
								<div>
									<label class="firstname-input" for="firstname">First Name</label><br>
									<input type="text" id="firstname" name="firstname" required><br><br>
								</div>
								<div class="margin">
									<label class="middlename-input" for="middlename">Middle Initial</label><br>
									<input type="text" id="middlename" name="middlename"><br><br>
								</div>
								<div class="margin">
									<label class="lastname-input" for="lastname">Last Name</label><br>
									<input type="text" id="lastname" name="lastname" required><br><br>
								</div>
							</div>
							

							<label class="email-input" for="email">Email</label><br>
							<input type="email" id="signupemail" name="email" required><br><br>

							<div class="flex">
								<div>
									<label class="password-input" for="password">Password</label><br>
									<input type="password" id="signuppassword" name="password" required>
								</div>

								<div class="margin">
									<label class="confpassword-input" for="confpassword">Confirm Password</label><br>
									<input type="password" id="confpassword" name="confpassword" required><br><br>
								</div>
							</div>
							

							<button class="button button-padding" type="submit">Sign Up</button>
							<p id="error-message2" style="color:red;"></p>
						</form>

					</div>
				</div>
			</div>

			
		</div>
		<script>
			function validateFields() {
				var username = document.getElementById("signupusername").value;
				var email = document.getElementById("signupemail").value;
				var password = document.getElementById("signuppassword").value;
				var confirmPassword = document.getElementById("confpassword").value;
				var errorMessage = document.getElementById("error-message2");

				if (username.length < 3) {
					errorMessage.textContent = "Username must be at least 3 characters long.";
					return false;
				} else if (password !== confirmPassword) {
					errorMessage.textContent = "Passwords do not match.";
					return false;
				} else if (password.length < 5) {
					errorMessage.textContent = "Password must be at least 5 characters long.";
					return false;
				}    

				const middlename = document.getElementById('middlename');
				if (middlename.value.length > 0) {
					middlename.value = middlename.value.charAt(0).toUpperCase() + '.';
				}

				return true;
			}
			document.addEventListener("DOMContentLoaded", function() {
				const showSignupLink = document.getElementById("showSignup");
				const showLoginLink = document.getElementById("showLogin");
				const loginDiv = document.querySelector(".login");
				const signupDiv = document.querySelector(".signup");

				showSignupLink.addEventListener("click", function(event) {
					event.preventDefault();
					loginDiv.style.display = "none";
					signupDiv.style.display = "block";
				});

				showLoginLink.addEventListener("click", function(event) {
					event.preventDefault();
					loginDiv.style.display = "block";
					signupDiv.style.display = "none";
				});

				const url = new URLSearchParams(window.location.search);

				if (url.has('signup') && url.get('signup') === 'failed') {
					var errorMessage = document.getElementById("error-message2");
					errorMessage.textContent = "Email or username are already in use";
					loginDiv.style.display = "none";
					signupDiv.style.display = "block";
				} else if (url.has('login') && url.get('login') === 'failed') {
					var errorMessage = document.getElementById("error-message");
					errorMessage.textContent = "Login credentials do not match.";
					loginDiv.style.display = "block";
					signupDiv.style.display = "none";
				}
			});
  		</script>
	</body>
</html>