<html>
<head>
  <title>PTA | Apply for NCC ID</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-ncc.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
</head>

<body style="margin:0;" class="container">
  <div class="membership-header">
    <div class="navbar">
      <a href="home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="home">Home</a></li>
        <li class="athletes"><a href="athletes">Athletes</a></li>
        <li class="clubs"><a href="clubs">Clubs</a></li>
        <li class="events"><a href="events">Events</a></li>
        <li class="membership"><a href="membership">Membership</a></li>
        <li class="forum"><a href="forum">Forum</a></li>
        <li class="notifications">
          <a href="notifications">Notifications <span class="badge">3</span></a>
        </li>
        <li class="profile-pic">
          {{#if user.profilepic}}
          <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
          <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="profile">Profile</a>
            <a href="settings">Settings</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="membership-container">
    <div class="membership-leftside">
      <div class="forumtitle">
        <h1 class="forumname"><span class="logo"> </span></h1>
        <h3 class="forumdesc">Apply for NCC ID</h3>
      </div>
    </div>
    <div class="membership-rightside">
      <div class="formcontainer">
        <form id="nccform" action="/submit-ncc" method="post">
          <div class="ncc1">
            <label class="apptype" for="apptype">Application Type:</label><br>
            <input type="radio" id="Renewal" name="apptype" value="Renewal">
            <label for="female">Renewal</label><br>
            <input type="radio" id="New Application" name="apptype" value="New Application">
            <label for="male">New Application</label><br>

            <label class="firstname-input" for="firstname">Firstname</label><br>
            <input type="text" id="firstname" name="firstname"><br>

            <label class="mi-input" for="mi">Middle Initial</label><br>
            <input type="text" id="mi" name="mi"><br>

            <label class="lastname-input" for="lastname">Lastname</label><br>
            <input type="text" id="lastname" name="lastname"><br>

            <label class="gender" for="gender">Gender:</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>

            <label for="birthday">Birthday:</label><br>
            <input type="date" id="bday" name="bday"><br>

            <label for="phone">Mobile Number</label><br>
            <input type="tel" id="phonenum" name="phonenum" pattern="\d{4}\d{3}\d{4}" placeholder="0912-345-6789"><br>

            <label class="email-input" for="email">E-mail</label><br>
            <input type="text" id="email" name="email"><br>

            <label class="email-input" for="confemail">Confirm E-mail</label><br>
            <input type="text" id="confemail" name="confemail"><br>

            <label for="lastpromotion">Date of Last Promotion Test</label><br>
            <input type="date" id="lastpromo" name="lastpromo"><br>

            <label for="promotionlocation">Location of Last Promotion</label><br>
            <select name="promolocation" id="promolocation">
              <option value="Pampanga">Pampanga</option>
              <option value="NCR">NCR</option>
              <option value="CAR">CAR</option>
            </select><br>

            <label for="clubregion">Region of Club</label><br>
            <select name="clubregion" id="clubregion">
              <option value="Pampanga">Pampanga</option>
              <option value="NCR">NCR</option>
              <option value="CAR">CAR</option>
            </select><br>

            <label for="clubname">Club</label><br>
            <select name="clubname" id="clubname">
              {{#each clubs}}
              <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select><br>

            <label for="beltlevel">Current Belt Level</label><br>
            <select name="beltlevel" id="beltlevel">
              <option value="white">white</option>
              <option value="black">black</option>
              <option value="yellow">yellow</option>
            </select><br>

            <br><a class="nccstep1" id="nccstep1">Next</a>
            <p id="error-message" style="color:red;"></p>
          </div>
        </form>
      </div>
      <div class="backtomembership">
        <a href="/membership"><-Back</a>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const form = document.getElementById("nccform");
          const nccstep1 = document.getElementById("nccstep1");
          const ncc1 = document.querySelector(".ncc1");
          const ncc2 = document.querySelector(".ncc2");

          nccstep1.addEventListener("click", function(event) {
            event.preventDefault();
            ncc1.style.display = "none";
            ncc2.style.display = "block";
          });
        });
      </script>
    </div>
  </div>
</body>
</html>
