<html>

	<head>
	  <title>PTA | Register Club</title>
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-status.css" />
      <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
	</head>
	
	<body style="margin:0;" class="container">
        <div class="membership-header">
            <div class="membership-navbar">
				<img src="/images/logo.png" class="membership-logo" href="home"></img>   
                    {{#if user.profilepic}}
                        <a href="#" onclick="toggleDropdown()" class="memprofile-pic"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
                    {{else}}
                        <a href="#" onclick="toggleDropdown()" class="memprofile-pic"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
                    {{/if}}
                    <div id="dropdown" class="dropdown-content">
                        <a href="profile">Profile</a>
                        <a href="settings">Settings</a>
                        <a href="FAQs">FAQs</a>
                        <a href="/">Logout</a>
                    </div>
            </div>
        </div>
        <div class="membership-container">
			<div class="membership-leftside">
				<div class="forumtitle">
					<h1 class= "forumname"> <span class="logo"> </span></h1>
                    <h3 class = "forumdesc">Register Club</h3>
				</div>
			</div>
		
			<div class="membership-rightside">                                                                                             
                <div class="formcontainer">
                    <form id="clubform" action="/submit-club" method="post">
                    <input type="hidden" value="{{user.username}}" name="submittedby" class="submittedby">
                        <div class="clubreg1">                                                                                  {{!-- club APPLICATION FORM part 1 --}}
                            <label class="firstname" for="firstname">Firstname</label><br>
                            <input type="text" id="firstname" name="firstname" ><br>

                            <label class="lastname" for="lastname">Lastname</label><br>
                            <input type="text" id="lastname" name="lastname" ><br>

                            <label class="phonenum" for="phonenum">Mobile Number</label><br>
                            <input type="text" id="phonenum" name="phonenum" ><br>

                            <label class="email" for="email">Email</label><br>
                            <input type="text" id="email" name="email" ><br>

                            <label class="email" for="email">Confirm Email</label><br>
                            <input type="text" id="email" name="email" ><br>

                            <a class="clubstep2" id="clubstep2">Next</a>
                        </div>    

                        <div class="clubreg2">
                            <label class="clubname" for="clubname">Club Name</label><br>
                            <input type="text" id="clubname" name="clubname" ><br>

                            <label class="clubaddress" for="clubaddress">Club Address</label><br>
                            <input type="text" id="clubaddress" name="clubaddress" ><br>
                            
                            <label class="province" for="province">Province</label><br>
                            <input type="text" id="province" name="province" ><br>

                            <input type="file" id="idfile" name="idfile" class="idfile"><br>

                            <input type="file" id="proofdoc" name="proofdoc" class="proofdoc"><br>

                            <button type="submit">Submit</button>
                        </div>                                          
                    </form>
                </div>
                <div class="backtomembership">
                    <a href="/membership"><-Back </a>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const form = document.getElementById("clubform");

                        const nccstep1 = document.getElementById("nccstep1");
                        
                    });
  		        </script>
			</div>
        </div>
    </body>
</html>