<html>

	<head>
	  <title>PTA | Apply for NCC ID</title>
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-ncc.css" />
      <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
	</head>
	
	<body style="margin:0;" class="container">
        <div class="membership-header">
            <div class="membership-navbar">
				<img src="/images/logo.png" class="membership-logo" href="home"></img>   
                    {{#if user.profilepic}}
                        <a href="#" onclick="toggleDropdown()" class="memprofile-pic"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
                    {{else}}
                        <a href="#" onclick="toggleDropdown()" class="memprofile-pic"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
                    {{/if}}
                    <div id="dropdown" class="dropdown-content">
                        <a href="profile">Profile</a>
                        <a href="settings">Settings</a>
                        <a href="/">Logout</a>
                    </div>
            </div>
        </div>
        <div class="membership-container">
			<div class="membership-leftside">
				<div class="forumtitle">
					<h1 class= "forumname"> <span class="logo"> </span></h1>
                    <h3 class = "forumdesc">Apply for NCC ID</h3>
				</div>
			</div>
		
			<div class="membership-rightside">                                                                                             
                <div class="formcontainer">
                    <form id="nccform" action="/submit-ncc" method="post">
                        <div class="ncc1">                                                                                  {{!-- NCC ID APPLICATION FORM part 1 --}}

                            <label class="apptype" for="apptype">Application Type:</label><br>
                            <input type="radio" id="Renewal" name="apptype" value="Renewal">
                            <label for="female">Renewal</label><br>
                            <input type="radio" id="New Application" name="apptype" value="New Application">
                            <label for="male">New Application</label><br>

                            <label class="firstname-input" for="firstname">Firstname</label><br>
                            <input type="text" id="firstname" name="firstname" ><br>

                            <label class="mi-input" for="mi">Middle Initial</label><br>
                            <input type="text" id="mi" name="mi" ><br>

                            <label class="lastname-input" for="lastname">Lastname</label><br>
                            <input type="text" id="lastname" name="lastname" ><br>
                            
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label><br>
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label><br>

                            <label for="birthday">Birthday:</label><br>
                            <input type="date" id="bday" name="bday"><br>

                            <label for="phone">Mobile Number</label><br>
                            <input type="tel" id="phonenum" name="phonenum" pattern="\d{4}\d{3}\d{4}" placeholder="0912-345-6789" ><br>

                            <label class="email-input" for="email">E-mail</label><br>
                            <input type="text" id="email" name="email" ><br>

                            <label class="email-input" for="email">Confirm E-mail</label><br>
                            <input type="text" id="confemail" name="confemail" ><br>

                            <label for="lastpromotion">Date of Last Promotion Test</label><br>
                            <input type="date" id="lastpromo" name="lastpromo" ><br>

                            <label for="promotionlocation">Location of Last Promotion</label><br>
                            <select name="promolocation" id="promolocation" >
                                <option value="Pampanga">Pampanga</option>
                                <option value="NCR">NCR</option>
                                <option value="CAR">CAR</option>
                            </select><br>

                            <label for="clubregion">Region of Club</label><br>
                            <select name="clubregion" id="clubregion" >
                                    <option value="Pampanga">Pampanga</option>
                                    <option value="NCR">NCR</option>
                                    <option value="CAR">CAR</option>
                            </select><br>

                            <label for="clubname">Club</label><br>
                            <select name="clubname" id="clubname" >
                                {{#each clubs}}
                                <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            </select><br>

                            <label for="beltlevel">Current Belt Level</label><br>
                            <select name="beltlevel" id="beltlevel" >
                                    <option value="white">white</option>
                                    <option value="black">black</option>
                                    <option value="yellow">yellow</option>
                            </select><br>
                            
                            <br><a class="nccstep1" id="nccstep1">Next</a>
                            <p id="error-message" style="color:red;"></p>
                        </div>                                              

                        <div class="ncc2" hidden>                                                                           {{!-- NCC APPLICATION step 2 --}}
                            <label class="instructor-firstname-input" for="instructorfirstname">Instructor Firstname</label><br>
                            <input type="text" id="instructorfirstname" name="instructorfirstname"><br>

                            <label class="instructormiinput" for="instructormi">Middle Initial</label><br>
                            <input type="text" id="instructormi" name="instructormi" ><br>

                            <label class="instructorlastnameinput" for="instructorlastname">Lastname</label><br>
                            <input type="text" id="instructorlastname" name="instructorlastname" ><br>

                            <label for="phone">Mobile Number</label><br>
                            <input type="tel" id="instructormobile" name="instructormobile" pattern="\d{4}\d{3}\d{4}" placeholder="0912-345-6789" ><br>

                            <label class="email-input" for="email">Instructor E-mail</label><br>
                            <input type="text" id="instructoremail" name="instructoremail" ><br>

                            <label class="email-input" for="instemail">Confirm E-mail</label><br>
                            <input type="text" id="instemail" name="instemail" ><br>
                            
                            <a class="nccprev2" id="nccprev2">Previous</a>
                            <a class="nccstep2" id="nccstep2">Next</a>
                            
                            <p id="error-message" style="color:red;"></p>
                        </div>

                        <div class="ncc3" hidden>                                                                           {{!-- NCC APPLICATION step 3 --}}
                            Upload your NSO/PSA<br>
                            <input type="file" id="birthcert" name="birthcert"><br>

                            <input type="radio" id="agree" name="tc1" value="">
                            <label for="agree">Do u agree</label><br>
                            <input type="radio" id="agree" name="tc2" value="">
                            <label for="agree">Do u also agree</label><br>
                            <a class="nccstep1" id="nccstep1">Previous</a>
                            <a class="nccstep3" id="nccstep3">Next</a>
                        </div>

                        <div class="ncc4" hidden>                                                                           {{!-- NCC APPLICATION step 4 --}}
                            <label class="instructor-firstname-input" for="instructor-firstname">MAYA API</label><br>
                            <input type="text" id="instructorfirstname" name="instructorfirstname" ><br>
                            <a class="nccstep2" id="nccstep2">Previous</a>
                            <br><button class="nccstep2" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="backtomembership">
                    <a href="/membership"><-Back</a>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const form = document.getElementById("nccform");

                        /*form.addEventListener("submit", function(event) {
                            const firstname = document.getElementById("username").value;
                            const instructorfirstname = document.getElementById("instructor-firstname").value;

                            // Clear any previous error messages
                            document.getElementById("error-message").textContent = "";
                        });*/

                        const nccstep1 = document.getElementById("nccstep1");
                        const nccstep2 = document.getElementById("nccstep2");
                        const nccstep3 = document.getElementById("nccstep3");
                        const nccstep4 = document.getElementById("nccstep4");
                        const nccstep5 = document.getElementById("nccstep5");
                        const ncc1 = document.querySelector(".ncc1");
                        const ncc2 = document.querySelector(".ncc2");
                        const ncc3 = document.querySelector(".ncc3");
                        const ncc4 = document.querySelector(".ncc4");
                        const ncc5 = document.querySelector(".ncc5");

                        nccstep1.addEventListener("click", function(event) {
                            event.preventDefault();
                            ncc1.style.display = "none";
                            ncc2.style.display = "block";
                        });

                        nccstep2.addEventListener("click", function(event) {
                            event.preventDefault();
                            ncc1.style.display = "none"
                            ncc2.style.display = "none";
                            ncc3.style.display = "block";
                        });

                        nccstep3.addEventListener("click", function(event) {
                            event.preventDefault();
                            ncc1.style.display = "none"
                            ncc2.style.display = "none";
                            ncc3.style.display = "none";
                            ncc4.style.display = "block";
                        });

                        nccstep4.addEventListener("click", function(event) {
                            event.preventDefault();
                            ncc1.style.display = "none"
                            ncc2.style.display = "none";
                            ncc3.style.display = "none";
                            ncc4.style.display = "none";
                            ncc5.style.display = "block";
                        });

                        nccstep5.addEventListener("click", function(event) {
                            event.preventDefault();
                            ncc1.style.display = "none"
                            ncc2.style.display = "none";
                            ncc3.style.display = "block";
                        });
                    });
  		        </script>
			</div>
        </div>
    </body>
</html>