<!DOCTYPE html>
<html>
<head>
  <title>PTA | Instructor Information</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-instructor.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
</head>
<body class="container">
  <div class="header">
    <div class="navbar">
      <a href="home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="home">Home</a></li>
        <li class="athletes"><a href="athletes">Athletes</a></li>
        <li class="clubs"><a href="clubs">Clubs</a></li>
        <li class="events"><a href="events">Events</a></li>
        <li class="membership"><a href="membership">Membership</a></li>
        <li class="forum"><a href="forum">Forum</a></li>
        <li class="notifications">
          <a href="notifications">Notifications <span class="badge">3</span></a>
        </li>
        <li class="profile-pic">
          {{#if user.profilepic}}
          <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
          <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="profile">Profile</a>
            <a href="settings">Settings</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-container">
    <div class="leftside">
      <div class="forumtitle">
        <h1 class="forumname"></h1>
        <h3 class="forumdesc">Instructor Information</h3>
      </div>
    </div>
    <div class="rightside">
      <div class="formcontainer">
        <form id="instructorform" action="/submit-instructor" method="post">
          <div class="form-row">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" id="firstname" name="firstname">
            </div>
            <div class="form-group">
              <label for="mi">M.I.</label>
              <input type="text" id="mi" name="mi">
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" id="lastname" name="lastname">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="instructormobile">Instructor Mobile Number</label>
              <input type="tel" id="instructormobile" name="instructormobile" pattern="\d{4}\d{3}\d{4}" placeholder="0912-345-6789">
            </div>
            <div class="form-group">
              <label for="instructoremail">Instructor E-mail</label>
              <input type="email" id="instructoremail" name="instructoremail">
            </div>
            <div class="form-group">
              <label for="confemail">Verify E-mail</label>
              <input type="email" id="confemail" name="confemail">
            </div>
          </div>

          <div class="form-row button-group">
            <button class="previous-button" type="button" onclick="window.location.href='/membership-ncc';">Previous</button>
            <button class="next-button" id="next-button" type="submit">Next</button>
          </div>
          <p id="error-message" style="color:red;"></p>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2024 Philippine Taekwondo Association. All rights reserved.</p>
  </div>
  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
</body>
</html>
