@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    font-family: 'SF Pro Display', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

/* Header */
.header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height: 50px;
    margin-left: 20px;
}

.navbar .tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .tabs li {
    margin-right: 20px;
}

.navbar .tabs li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 15px;
}

.navbar .tabs li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.profile-pic .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-pic .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-pic .dropdown-content a:hover {
    background-color: #ddd;
}

.profile-pic:hover .dropdown-content {
    display: block;
}

.profile-pic:hover .dropbtn {
    background-color: #3e8e41;
}

.notifications {
    position: relative;
}

.notifications .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* Athletes Container */
.athletes-container {
    margin-top: 60px;
    height: 1500px;
    padding: 20px;
}

.filter-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

.filter-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-group select,
.filter-group input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.apply-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.apply-btn:hover {
    background-color: #0056b3;
}

/* Rankings */
.rank-panel {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.rank-panel h3 {
    margin-top: 0;
}

.rankings {
    width: 100%;
    border-collapse: collapse;
}

.rankings th,
.rankings td {
    padding: 1rem;
    text-align: left;
}

.rankings th {
    background-color: #444;
    position: sticky;
    top: 0;
    cursor: pointer;
    text-transform: capitalize;
}

.rankings tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.rankings tbody tr:nth-child(odd) {
    background-color: #666;
}

.rankings tbody tr:hover {
    background-color: #fff6 !important;
}

/* Athlete Details */
.athlete-details {
    display: none;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.athlete-header {
    display: flex;
    align-items: center;
}

.athlete-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.athlete-info {
    display: flex;
    flex-direction: column;
}

.athlete-info h2 {
    margin: 0;
}

.athlete-stats {
    margin-top: 20px;
}

.athlete-stats table {
    width: 100%;
    border-collapse: collapse;
}

.athlete-stats th,
.athlete-stats td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
}

.athlete-stats th {
    background-color: #444;
}

.athlete-stats tbody tr:nth-child(even) {
    background-color: #555;
}

.athlete-stats tbody tr:nth-child(odd) {
    background-color: #666;
}

/* Footer */
.footer-content {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    margin-top: auto;
}

.footer-content .pta-logo img {
    height: 50px;
}

.footer-content .contact-info {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.footer-content .contact-info p {
    margin: 5px 0;
}

.footer-content .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-content .social-media p {
    margin-bottom: 5px;
}

.footer-content .social-media .icons {
    display: flex;
    align-items: center;
}

.footer-content .social-media a {
    margin-left: 10px;
}

.footer-content .social-media img {
    height: 30px;
    width: 30px;
}
