/* athletes-profile */

body {
  background-color: #3a3a3a;
  color: #ffffff;
}

.athlete-header {
  background-color: #282828;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.athlete-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.athlete-info {
  flex: 1;
}

.athlete-info h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

.athlete-info .team {
  color: #ffffff;
}

.follow-button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.follow-button:hover {
  background-color: #cc0000;
}

.athlete-stats {
  display: flex;
}

.stat {
  background-color: #181818;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  border-radius: 5px;
}

.stat .label {
  display: block;
  color: #888888;
}

.stat .value {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.athlete-details {
  display: flex;
  margin: 20px;
}

.switch-player, .previous-game, .latest-videos {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(77, 77, 77);
  background-color: #181818;
  flex: 1;
}

.switch-player ul {
  list-style: none;
  padding: 0;
}

.switch-player ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}


.switch-player label, .switch-player select {
  display: block;
  margin: 10px 0;
  color: #ffffff;
}

.previous-game .game-summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 18px;
  color: #ffffff;
}

.previous-game .game-summary .team {
  font-weight: bold;
}

.previous-game .game-summary .score {
  font-size: 24px;
}

.previous-game .game-summary .vs {
  color: #888888;
}

.previous-game .game-stats, .career-stats {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.previous-game .game-stats th, .previous-game .game-stats td, .career-stats th, .career-stats td {
  padding: 10px;
  text-align: center;
  border: 1px solid #444444;
  color: #ffffff;
}

.latest-videos ul {
  list-style: none;
  padding: 0;
}

.latest-videos ul li {
  padding: 10px 0;
}

.latest-videos ul li a {
  text-decoration: none;
  color: #ff0000;
}

.latest-videos ul li a:hover {
  text-decoration: underline;
}

.invite-button a{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.invite-button a:hover{
  background-color: #0056b3;
}