@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.notifications {
    position: relative;
}

.dp{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: -7px;  
    object-fit: cover;
}

.community {
    margin-left: 15px;
}

.notifications .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.forum-container {
    margin-top: 60px;
    display: flex;
    justify-content: center; /* Center the content */
}

.main-content {
    width: 60%; /* Adjust the width as needed */
    height: auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    color: #F0F0F0;
}

.commentpic{
    margin-left: 8px;
}

li {
    float: left;
}

.main-content h2 {
    margin-bottom: 20px;
}

.post-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.post-container {
    background-color: #3a3a3a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
}

.post-container:hover {
    cursor: pointer;
    background-color: #4e4d4d;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.post-info {
    font-size: 14px;
    color: #B0B0B0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.post-title {
    font-size: 24px;
    color: #F0F0F0;
    margin: 10px 0;
}

.post-description {
    font-size: 16px;
    color: #F0F0F0;
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    align-items: center; /* Center align items */
}

.post-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-buttons, .vote-buttons {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 10px;
    margin-right: 10px; /* Adjust margin for better spacing */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-button {
    display: flex;
    align-items: center;
    color: #F0F0F0;
    margin: 0 10px;
    font-size: 16px;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.vote-button {
    display: flex;
    align-items: center;
    color: #F0F0F0;
    margin: 0 10px;
    font-size: 16px;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.vote-button:hover, .comment-button:hover {
    background-color: #4e4d4d;
    cursor: pointer;
}

.vote-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust margin for better spacing */
}

.vote-separator {
    border-left: 1px solid #5a5a5a;
    height: 20px;
    margin: 0 10px; /* Adjust margin for better spacing */
}

.comment-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust margin for better spacing */
}

.create-post-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.create-post-button, .create-topic-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.create-topic-button{
    margin-left: 10px;
}

.create-post-button .plus-icon {
    margin-right: 5px;
    font-size: 20px;
}

.create-post-button:hover ,.create-topic-button:hover {
    background-color: #4e4d4d;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.post-user {
    color: #ffffff; 
    font-size: 18px;
}


.post-community {
    color: #ffffff; 
    font-size: 18px;
}

.footer-content {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    margin-top: auto;
}

.footer-content .pta-logo img {
    height: 100%;
}

.footer-content .contact-info {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.footer-content .contact-info p {
    margin: 5px 0;
}

.footer-content .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-content .social-media p {
    margin-bottom: 5px;
}

.footer-content .social-media .icons {
    display: flex;
    align-items: center;
}

.footer-content .social-media a {
    margin-left: 10px;
}

.footer-content .social-media img {
    height: 30px;
}

/* Styles for the search filter */
.forum-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Adjust alignment */
    align-items: center;
}

#searchBar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* post options */

/* Post container styling to accommodate the dropdown */
.post-container {
    position: relative;
}

/* Dropdown container styling */
.dropdown-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    color:white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    background-color: #2c2c2c;
    
}

.dropdown-content a:hover {
    background-color:#5a5a5a;

}

.dropbtn:hover {
    background-color: #3a3a3a;
    border-radius: 75%;
}

/* Show the dropdown content when the dropdown button is clicked */
.show {
    display: block;
}

.buttons-div div{
    display: inline;
}

.poster {
    display: flex;
    align-items: center;
}
  
.dets {
    display: flex;
    flex-direction: column;
    margin-left: 8px; /* Adjust the spacing between the image and the text */
}

.op {
    font-weight: bold;
}

.tag {
    font-size: 12px; /* Adjust the font size as needed */
    color: gray; /* Adjust the color as needed */
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #3a3a3a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label,
.modal-content form input,
.modal-content form button {
    margin: 10px 0;
}


